.vs
Debug
Release
Debug_YM2151
Release_YM2151
x16emu.args.json
x16emu.vcxproj.user
x16-bin/*.*
!x16-bin/docs
!x16-bin/basic.sym
!x16-bin/cbdos.sym
!x16-bin/charset.sym
!x16-bin/geos.sym
!x16-bin/kernal.sym
!x16-bin/keymap.sym
!x16-bin/libgcc_s_sjlj-1.dll
!x16-bin/libwinpthread-1.dll
!x16-bin/monitor.sym
!x16-bin/rom.bin
!x16-bin/SDL2.dll
!x16-bin/x16emu.exe


